body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    background: #FDD3D0;
}

.small-box {
    width: 35px;
    height: 25px;
}

.background-box {
    width: 1480px;
    height: 302px;
    background: #FDD3D0;
}

.svg-container {
    display: inline-block;
}

.profile-img {
    width: 214px;
    height: 217px;
    border-radius: 100px;
}

.message-box {
    width: 324px;
    height: 82px;
    padding-top: 30px;
    padding-left: 37px;
    border-radius: 35px;
    overflow: hidden;
    border: 1px solid #8F2D2D;
    display: flex;
    align-items: center;
}

.pink {
    background: #FEE9E7;
}

.orange {
    background: #FFC3AC;
}

.message-text {
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.username {
    width: 518px;
    height: 54px;
    font-size: 24px;
    font-weight: 600;
    color: #FCB3AD;
}

.large-img {
    width: 736px;
    height: 744px;
}

.timestamp-box {
    display: flex;
    align-items: center;
}

.timestamp {
    font-size: 20px;
    font-family: Poppins, sans-serif;
    color: black;
}

.chat-box {
    width: 180px;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    color: #FFC3AC;
}

.input-container {
    width: 1565px;
    height: 239px;
    background: rgba(253, 211, 208, 0.47);
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.input-box {
    width: 770px;
    height: 89px;
    background: #FDD3D0;
    border-radius: 35px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.input-text {
    font-size: 32px;
    color: #565656;
}

.full-page-img {
    width: 1642px;
    height: 2822px;
}
